html
{
    scroll-behavior: smooth;
}

body
{
    background-image: linear-gradient(to right bottom, #f183db, #dc8de6, #c595ed, #af9cef, #9ba2ee, #89acf5, #78b6f8, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-size: 109% 200%;
}

main
{
    margin-bottom: 100px;
    z-index:-1;
    min-height: 100%;
}

#topo
{
    display: flex;
    margin-top: 80px;
}

.topo
{
    width: 100%;
}

header
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#header
{
    text-align: center;
    display: flex;
    justify-content:space-around;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    background-color: #78DBFF;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:99;
}

.menu
{
    width: 38px;
}

.menu:hover
{
    translate: 10px -10px;
}

#nomes
{
    text-align: center;
}

.nomes
{
    max-width: 1100px;
    width: 100%;
}

#dicionario
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 15px;
    max-width: 80%;
    margin: auto;
}

#bloco
{
    width: 250px;
    height: 200px;
    min-width: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    background-color: #0000004b;
    border-radius: 20px;    
    padding: 20px;
    text-align: center;
    border: solid 5px #000000;
    position: relative;
    z-index:0;
}

#bloco:hover
{
    translate: -5px -5px;
    box-shadow: 5px 5px 5px #0000008a;
    
}

.texto
{
    font-size: 26px;
    color: #ffffff;
    font-family: Arial;
    bottom: 5px;
    position: absolute;
    text-align: center;
}

.img
{
    max-width: 95%;
    max-height: 150px;
    width: auto;
    height: auto;
}

#titulo
{
    max-width: 95%;
    background-color: #0000004b;
    height: 10%;
    font-size: 40px;
    margin:auto;
    color: #ffffff;
    display: flex;
    position: sticky;
    border-radius: 20px;
    padding: 5px 20px 5px 20px;
    justify-content:space-between;
    font-family: arial;
    align-items: center;
    border: solid 5px #000000;
}

#conteudo
{
    margin:auto;
    width: 95%;
    height: 80%;
    min-height: 500px;
    background-color: #0000004b;
    border-radius: 20px;    
    padding: 20px;
    text-align: center;
    border: solid 5px #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.con_img
{
    min-height: 250px;
    max-height: 450px;
    min-width: 250px;
    max-width: 90%;
    margin: 10px;
}

#con_img
{
    max-height: 40%;
    max-width: 40%;
    margin: 10px;
    background-color: #00000063;
    border-radius: 20px;
    padding: 20px;
    border: solid #000000ec 5px; 
}

#txt
{
    color:#e6e6e6;
    max-height: 20%;
    max-width: 50%;
    font-size: 25px;
    font-family: arial;
    align-self: center;
    flex-direction: column;
    justify-items: center;
    display: flex;
    position: relative;
}

#aplica
{
    background-color: #0000008a;
    width: 90%;
    margin-top: 10%;
    padding: 20px;
    border-radius: 20px;
    border: solid #000000 5px;
}

.voltar
{
    align-self: flex-end;
}

@media(max-width: 1170px)
    {
        header
        {
            display: none;
        }
        #topo
        {
            margin-top: 45px;
        }

    }

@media(max-width: 900px)
    {
        #topo
        {
            margin-top: 0px;
            
        }

    }

@media(max-height: 950px)
    {
        #topo
        {
            margin-top: 45px;
        }

    }

@media(max-height: 950px) and (min-width:1170)
    {
        #topo
        {
            margin-top: 0px;
        }

    }

@media(max-height: 880px)
    {
        #topo
        {
            margin-top: 0px;
            margin: auto;
        }

    }

@media(max-height: 880px) and (min-width:950px)
    {
        #topo
        {
            margin-top: 0px;
            width: 80%;
            margin: auto;
        }

    }

@media(max-device-height: 750px)
{
    #conteudo
    {
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    #txt
    {
        align-self: center;
        text-justify: distribute;
        font-size: 35px;
    }
    #texto
    {
        font-size: 30px;
    }
}

footer
{
    color: white;
    background-color: #000000b4;
    border: solid #000000 5px;
    margin: auto;
    width: 95%;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 80px;
    text-align: center;
    font-family: arial;
}