body
{
    background-color: #C0A1DF;
}

main
{
    margin-bottom: 100px;
    z-index:-1;
}

#topo
{
    display: flex;
    margin-top: 80px;
}

.topo
{
    width: 100%;
}

header
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#header
{
    text-align: center;
    display: flex;
    justify-content:space-around;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    background-color: #78DBFF;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:99;
}

.menu
{
    width: 38px;
}

.menu:hover
{
    translate: 10px -10px;
}

#nomes
{
    text-align: center;
}

.nomes
{
    max-width: 750px;
    width: 100%;
    margin-top: 30px;
}

#dicionario
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 15px;
    max-width: 80%;
    margin: auto;
}

#bloco
{
    width: 250px;
    height: 200px;
    min-width: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    background-color: #0000006c;
    border-radius: 20px;    
    padding: 20px;
    text-align: center;
    border: solid 5px #000000;
    position: relative;
    z-index:0;
}

#bloco:hover
{
    translate: -5px -5px;
    box-shadow: 5px 5px 5px #000000;
}

.texto
{
    font-size: 40px;
    color: #ffffff;
    font-family: Arial;
    bottom: 5px;
    position: absolute;
}

.img
{
    max-width: 95%;
    max-height: 150px;
    width: auto;
    height: auto;
}

@media(max-width: 1170px)
    {
        header
        {
            display: none;
        }
        #topo
        {
            margin-top: 45px;
        }

    }

@media(max-width: 900px)
    {
        #topo
        {
            margin-top: 0px;
            
        }

    }

@media(max-height: 950px)
    {
        #topo
        {
            margin-top: 45px;
        }

    }

@media(max-height: 950px) and (min-width:1170)
    {
        #topo
        {
            margin-top: 0px;
        }

    }

@media(max-height: 880px)
    {
        #topo
        {
            margin-top: 0px;
            margin: auto;
        }

    }

@media(max-height: 880px) and (min-width:950px)
    {
        #topo
        {
            margin-top: 0px;
            width: 80%;
            margin: auto;
        }

    }